
img.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

div.pacman {
	background: #fff url(border-left.png) no-repeat;
	margin-left: 32px;
	padding-left: 128px;
	height: 48px;
}
div.pills {
	background: #fff url(border-repeat.png) repeat-x;
	height: 48px;
    margin-left: 50px;
}
